.family-trip {
    text-align: center;
  }
  
  .title-section {
    background-image: url('../../../src/assets/img/gallery/img.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px 0;
  }
  .title-section h1 {
    font-size: 3rem;
    margin: 0;
  }
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
  }
  .grid-item {
    overflow: hidden;
    border-radius: 5px;
  }
  .grid-item img {
    width: 100%;
    height: auto;
    display: block;
  }