/* CSS for the Header component */
.submenu {
    position: static;
}

.submenu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 9999;
}

.menu-item-has-children:hover > .submenu ul {
    display: block;
}

.side-menu {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
}
.menu-item-has-children:hover > .submenu > ul > li:hover .side-menu {
    display: block;
}
