/* langtangHelicopter.css */

.langtang-tour-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    color: white;
    position: relative;
  }
  
  .langtang-tour-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .langtang-tour-header h1 {
    position: relative;
    z-index: 2;
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .langtang-tour-details-wrapper {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  
  .langtang-tour-item {
    display: flex;
    align-items: center;
  }
  
  .langtang-tour-item span {
    margin-left: 10px;
    font-size: 16px;
  }
  
  .langtang-tour-column {
    display: flex;
    flex-direction: column;
  }
  
  .details-scroll-box {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    background-color: #f1f1f1;
  }
  
  .scroll-box-title {
    margin-right: 15px;
    cursor: pointer;
    color: #007bff;
  }
  
  .scroll-box-title:hover {
    text-decoration: underline;
  }
  
  .langtang-tour-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .langtang-tour-main {
    flex: 0 1 70%;
    padding-right: 20px; /* Adjust as needed */
  }
  
  .langtang-tour-aside {
    flex: 0 1 25%;
    border: 1px solid #ddd;
    padding: 20px;
  }
  
  