.aboutus-container {
  background-image: url('../assets/img/gallery/img3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000vh;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: center;
}

.aboutus-container h1 {
  color:white;
  font-size: 36px;
}

.aboutus-header {
  background-image: url('../assets/img/gallery/img3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.breadcrumb-item {
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}


.orange-box {
  background-color: orange;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.orange-box:hover {
  background-color: darkorange;
}
