/* Headerbar.css */
.headerbar {
  background-color: #212529; /* Dark blue background */
  color: #fff; /* White text color */
  padding: 0.5rem 2rem; /* Adjust padding as needed */
}

.headerbar-item .flag-icon {
  width: 20px; /* Adjust flag icon size */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Add spacing after flag icon */
}

.make-inquiry-btn {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px; /* Adjust border-radius to make the button oval */
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer;
  white-space: nowrap;
}

.make-inquiry-btn:hover {
  background-color: darkorange; /* Change color on hover if desired */
}

.headerbar-item {
  font-size: 17px; /* Adjust the font size as needed */
}
