.Tour-section {
  background-size: cover;
  background-position: center;
  height: 60vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.Tour-section h1 {
  font-size: 3rem;
}

.content-section {
  background-color: #e8ebf3;
  padding: 20px;
}

.container .row .col-lg-4 .card .zoom-image {
  overflow: hidden;
}

.container .row .col-lg-4 .card .zoom-image img {
  transition: transform 0.3s ease;
}

.container .row .col-lg-4 .card .zoom-image:hover img {
  transform: scale(1.1);
}

.price-section .price {
  font-size: 1.2rem;
  font-weight: bold;
}

.price-section .blue-text {
  color: #007bff;
}


.Trek-section {
  background-size: cover;
  background-position: center;
  height: 60vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.Trek-section h1 {
  font-size: 3rem;
}

.content-section {
  background-color: #e8ebf3;
  padding: 20px;
}

.container .row .col-lg-4 .card .zoom-image {
  overflow: hidden;
}

.container .row .col-lg-4 .card .zoom-image img {
  transition: transform 0.3s ease;
}

.container .row .col-lg-4 .card .zoom-image:hover img {
  transform: scale(1.1);
}

.price-section .price {
  font-size: 1.2rem;
  font-weight: bold;
}

.price-section .blue-text {
  color: #007bff;
}

.Luxury-section {
  background-size: cover;
  background-position: center;
  height: 60vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.Luxury-section h1 {
  font-size: 3rem;
}

.content-section {
  background-color: #e8ebf3;
  padding: 20px;
}

.container .row .col-lg-4 .card .zoom-image {
  overflow: hidden;
}

.container .row .col-lg-4 .card .zoom-image img {
  transition: transform 0.3s ease;
}

.container .row .col-lg-4 .card .zoom-image:hover img {
  transform: scale(1.1);
}

.price-section .price {
  font-size: 1.2rem;
  font-weight: bold;
}

.price-section .blue-text {
  color: #007bff;
}

.Peak-section {
  background-size: cover;
  background-position: center;
  height: 60vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.Peak-section h1 {
  font-size: 3rem;
}

.content-section {
  background-color: #e8ebf3;
  padding: 20px;
}

.container .row .col-lg-4 .card .zoom-image {
  overflow: hidden;
}

.container .row .col-lg-4 .card .zoom-image img {
  transition: transform 0.3s ease;
}

.container .row .col-lg-4 .card .zoom-image:hover img {
  transform: scale(1.1);
}

.price-section .price {
  font-size: 1.2rem;
  font-weight: bold;
}

.price-section .blue-text {
  color: #007bff;
}



